html {
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

html, body{
    height: 100%;
}


/* Full page grid wrapper */
.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 50px;
}

    /* Gets rid of old-fashioned underlining on links */
    a:link { 
        text-decoration: none;
        color: aqua;
    }
    a:visited { 
        text-decoration: none;
        color: aqua;
    }
    a:hover { 
        text-decoration: none;
        color: aqua;
    }
    a:active { 
        text-decoration: none;
        color: aqua;
    }
    
    /* Header stuff */
    
    header {
        /* Header-scoped wrapper */
        display: flex;
        flex-direction: row;
        flex: initial initial;
        justify-content: space-between;
        align-items: center;
        
        /* stylization */
        background-color: #222222;
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px 15px 15px 15px;
    }
        
        #leftHand {
            flex: 1;
            margin-right: auto;
            text-align: left;
        }
        #middle{
            flex-grow: 2;
        }
        #logo{
            display: block;
            margin: auto;
            width: 50%;
            max-height: 120px;
            max-width: 120px;
            border-style: solid;
            border-width: 15px;
            border-color: #222222;
            border-radius: 50%;
            justify-content: center;
        }
        #rightHand{
            flex: 1;
            margin-left: auto;
            text-align: right;
        }
    
    
    /* Main stuff */
    
    .content {
        flex: 1 0 auto;
    } 

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: stretch;
        column-gap: 30px;
        row-gap: 30px;
    }
    
    .pic{
        flex-shrink: 2;
    }
    
    article {
        flex-grow: 1;
    }
    

    /* Format stuff */
    
    .Emphasis {
        background-color: #222222;
        font-family: monospace;
        font-size: x-large;
        color: chartreuse;
    }
    
    /* Footer stuff */
    
    footer{
    }
    .footer{
        flex-shrink: 0;
        background-color: #222222;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -15px;
        padding: 15px;
        color: white;
    }