html {
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    font-family: 'Source Sans Pro', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 115px minmax(500px, 1fr) 115px;
    grid-row-gap: 40px    
}


body {
   
    background-color: black;
    color: white;
}

/* Gets rid of old-fashioned underlining on links */
a:link { text-decoration: none }
a:visited { text-decoration: none }
a:hover { text-decoration: none }
a:active { text-decoration: none }

/* Header stuff */

header {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 30px;
    background-color: #222222;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
}

.headerComponent {
    grid-row: 1;
}

#leftHand {
    grid-column: 1;
}
#middle{
    grid-column: 2;
}
#logo{
    display: block;
    margin: auto;
    width: 50%;
    max-height: 120px;
    max-width: 120px;
    border-style: solid;
    border-width: 15px;
    border-color: #222222;
    border-radius: 50%;
    justify-content: center;
}
#rightHand{
    grid-column: 3;
    text-align: right;
}


/* Body stuff */
.content {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

/* Footer stuff */
.footer{
    grid-row: 4;
    grid-column: 1 / 4;
    background-color: #222222;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    padding: 15px;
    color: white;
}