html {
    @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}


/* Full page grid wrapper */
.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px minmax(500px, 1fr) 115px;
    grid-row-gap: 60px    
}

    /* Gets rid of old-fashioned underlining on links */
    a:link { 
        text-decoration: none;
        color: aqua;
    }
    a:visited { 
        text-decoration: none;
        color: aqua;
    }
    a:hover { 
        text-decoration: none;
        color: aqua;
    }
    a:active { 
        text-decoration: none;
        color: aqua;
    }
    
    /* Header stuff */
    
    header {
        /* Header-scoped wrapper */
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 30px;
        
        /* stylization */
        background-color: #222222;
        margin-top: -15px;
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px 15px 15px 15px;
    }
    
        .headerComponent {
            grid-row: 1;
        }
        
        #leftHand {
            grid-column: 1;
            text-align: left;
        }
        #middle{
            grid-column: 2;
        }
        #logo{
            display: block;
            margin: auto;
            width: 50%;
            max-height: 120px;
            max-width: 120px;
            border-style: solid;
            border-width: 15px;
            border-color: #222222;
            border-radius: 50%;
            justify-content: center;
        }
        #rightHand{
            grid-column: 3;
            text-align: right;
        }
    
    
    /* Main stuff */
    
    .content {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    } 

    main {
        display: grid;
        grid-template-columns:100px 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
    }
    
    .pic{
        width: 50%;
    }
    
    article {
        grid-column: 2;
    }
    

    /* Format stuff */
    
    .Emphasis {
        background-color: #222222;
        font-family: monospace;
        font-size: x-large;
        color: chartreuse;
    }
    
    /* Footer stuff */
    
    footer{
    }
    .footer{
        grid-row: 4;
        grid-column: 1 / 4;
        background-color: #222222;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -15px;
        padding: 15px;
        color: white;
    }